{% extends 'home.html' %}

{% block title %} Answer a Question {% endblock %}

{% block content %}

<h2 class="fw-light fs-2 mb-4">Users</h2>

<div class="d-flex flex-column">
    
    <!-- BLOCKS OF THE QUESTIONS -->

    {% for user in users_list %}
    <a href="#" class="answers mb-2">
        <div class="{% if user.admin %} bg-success {% else %} bg-dark {% endif %} p-3"
             style="{% if user.admin %} --bs-bg-opacity: .5; {% else %} --bs-bg-opacity: .07; {% endif %}">
            <h4 class="fw-light fs-5">{{ user.user_name }}</h4>
        </div>
    </a>
    {% endfor %}

</div>

{% endblock %}